body {
    font-family: "Playfair Display", "Times New Roman", serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6F4E37;
  }
  
  .container {
    background-color: #D2B48C;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    height: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    margin-bottom: 40px;
  }
  
  h1 {
    text-align: center;
    color: #EADDCA;
    font-weight: normal;
    font-size: 40px;
    margin: 0 auto; 
    margin-top: 40px;
    width: 100%;
    margin-bottom: 80px;
  }


  h2{
    text-align: center;
    color: #6F4E37;
    font-weight: normal;
    font-size: 25px;
    margin: 0 100px;
    margin-bottom: 80px;
  } 


  .coffee-image {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 80px;
    height: 80px;
    background-image: url('images/coffee-home.png');
    background-size: cover;
  }

  .recipe-book {
    position: absolute;
    top: 18%;
    right: 2%;
    width: 80px;
    height: 80px;
    background-image: url('book.png');
    background-size: cover;
  }

  img{
    max-height: 50px;
  }

  .container {
    background-color: #D2B48C;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
  }
  
  .image-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .image-container img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    min-height: 200px;
  }
  
  .content-container {
    flex: 2;
  }
  
  h2 {
    text-align: center;
    color: #6F4E37;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h3 {
    color: #6F4E37;
    margin-bottom: 18px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
  
  h4 {
    color: #6F4E37;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;
  }


  .coffee-image:hover {
    transform: scale(1.2);
  }

  .favorite-icon {
    color: #EADDCA;
    margin-left: 10px;
  }
  
  .favorite-icon.favorite {
    color: #6F4E37;
  }
