body {
    font-family: "Playfair Display", "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D2B48C;
  }
  
  .container {
    background-color: #EADDCA;
    border-radius: 10px;
    padding: 20px;
    width: 65%;
    height: 60%;
  }
  
  h1 {
    text-align: center;
    color: #6F4E37;
    font-weight: normal;
    font-size: 60px;
  }
  

  h2{
    text-align: center;
    color: #6F4E37;
    font-weight: normal;
    font-size: 28px;
    margin: 0 100px;
    margin-bottom: 80px;
  }

    #GSbutton {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    background-color: #6F4E37;
    color: #EADDCA;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    }

    #GSbutton:hover {
    background-color: #D2B48C;
    }

    #GSbutton:focus {
    outline: none;
    }

    .coffee-image {
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 300px;
        height: 275px;
        background-image: url('images/coffee.png');
        background-size: cover;
      }

      .bean-image {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 200px;
        height: 200px;
        background-image: url('images/coffee-beans.png');
        background-size: cover;
      }
      
      
      
      