body {
    font-family: "Playfair Display", "Times New Roman", serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D2B48C;
  }
  
  .container {
    background-color: #6F4E37;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    height: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    margin-bottom: 40px;
  }
  
  h1 {
    text-align: center;
    color: #6F4E37;
    font-weight: normal;
    font-size: 40px;
    margin: 0 auto; 
    margin-top: 40px;
    width: 100%;
    margin-bottom: 80px;
  }


  h2{
    text-align: center;
    color: #EADDCA;
    font-weight: normal;
    font-size: 28px;
    margin: 0 100px;
    margin-bottom: 80px;
  } 


  .coffee-image {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 80px;
    height: 80px;
    background-image: url('images/coffee-home.png');
    background-size: cover;
  }

  img{
    max-height: 50px;
  }

  .container {
    background-color: #6F4E37;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
  }
  
  .image-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .image-container img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    min-height: 200px;
  }
  
  .content-container {
    flex: 2;
  }
  
  h2 {
    text-align: center;
    color: #EADDCA;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h3 {
    color: #EADDCA;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
  
  h4 {
    color: #EADDCA;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
  }
